VITE_DISCORD_CLIENT_ID=TON_CLIENT_ID
VITE_DISCORD_REDIRECT_URI=https://donjon-rouge-dashboard.onrender.com/auth/callback
VITE_BACKEND_URL=https://donjon-rouge-api.onrender.com
VITE_GUILD_ID=610767309031866371
